<!DOCTYPE html>
<html>
  <head>
  </head>

  <body>
    <div id="wrap">
      <span class="title">Hello!</span>
      <div class="user">
        <input type="button" class="btn" onclick="location.href='/login'" value="Login"/>
        <input type="button" class="btn" onclick="location.href='/signup'" value="SignUp"/>
      </div>
    </div>
  </body>
</html>
