<!DOCTYPE html>
<html>
<head>
</head>

<body>
<form action="/login" method="post" class="loginForm">
    <label for="id">ID</label>
    <input name="id" type="text" required/>
    <label for="password">PASSWORD</label>
    <input name="password" type="password" required/>
    <button class="btn">Login!</button>
</form>
</body>
</html>