<!DOCTYPE html>
<html>
<head>
</head>

<body>
<form action="/signup" method="post" class="signupForm">
    <label for="id">ID</label>
    <input name="id" type="text" required/>
    <label for="password">PASSWORD</label>
    <input name="password" type="password" required/>
    <label for="name">NAME</label>
    <input name="name" type="text" required/>
    <label for="phone">PHONE</label>
    <input name="phone" type="text" required/>
    <button class="btn">SignUp!</button>
</form>
</body>
</html>